/* import 'bootstrap/dist/css/bootstrap.min.css'; */
/* .container {
  text-align: center; */
/* } */
@import "custom";

@media (min-width: 768px) {
  .row.equal {
    display: flex;
    flex-wrap: wrap;
  }
}
.navbar {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.container {
  padding-top: 0.5rem;
}

.hero-section {
  background-position: center;
  background-size: cover;
  height: 80vh;
  position: relative;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
}

.hero-section-content {
  grid-column: 2/3;
  justify-self: center;
  align-self: center;
  padding: 1rem;
  align-items: center;
  background-color: rgba(200, 200, 200, 0.4);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  color: rgb(80, 80, 80);
  min-width: 25rem;
}

.hero-section-content > h1 {
  color: darkslategrey;
}

.hero-section-content > ul > li > svg {
  margin-right: 0.5rem;
}

quote {
  position: relative;
  font-size: 1rem;
  line-height: 1.5rem;
  &:before {
    font-family: "Sanchez", serif;
    content: "\201C";
    position: absolute;
    top: 0.25em;
    left: -0.15em;
    color: darken($white, 7%);
    font-size: 6em;
    z-index: -1;
  }
}

a.nav-link {
  text-align: center;
}

a {
  color: $white;
}

a.active.nav-link {
  text-shadow: 0px 0px 10px rgb(255, 255, 255);
}

.class-booking-info {
  text-align: right;
}

button.class-booking {
  margin-top: 1em;
}

.form-group.required .form-label:after {
  content: "*";
  color: #e69e31;
  vertical-align: super;
  font-size: smaller;
}

@media (max-width: 768px) {
  .class-booking-info {
    margin-top: 1em;
    text-align: center;
  }

  .hero-section-content {
    grid-column: 2/4;
  }
}

// $primary: rgb(252, 153, 40);

// @import "~bootstrap/scss/bootstrap";
/* 
@media screen and (max-width: 531px) {
  .container { display: flex; flex-flow: column; }
} */
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
